body{
    font-family: "Inter", sans-serif;
}
.btn-custom{
    background: #EE6F57;
}
.btn-custom:hover{
    background: #ee7057b6;
}
@media (max-width: 991.98px){
    .navbar-nav{
    display: flex;
    justify-content: space-between;
    }
    .navbar-nav .nav-item{
    flex-grow: 1;
    text-align: center;
    }
}